@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root
{
    --Blue: hsl(246, 80%, 60%);
    --orange: hsl(15, 100%, 70%);
    --Soft_blue : hsl(195, 74%, 62%);
    --Light_red: hsl(348, 100%, 68%);
    --Lime_green: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --Soft_orange: hsl(43, 84%, 65%);
    --Verydarkblue: hsl(226, 43%, 10%);
    --Darkblue: hsl(235, 46%, 20%);
    --Desaturatedblue: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);
}
*
{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body
{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--Verydarkblue);
}
main
{   
    min-width: 375px;
    padding: 5% 10%;
    display :flex;
    flex-direction: column;
    gap: 20px;
}
.profile
{
    display: flex;
    flex-direction: column;
    background-color: var(--Darkblue);
    border-radius: 1rem;
    padding: 0;
}
.blue
{
    display: flex;
    gap: 1rem;
    background-color: var(--Blue);
    place-items: center;
    border-radius: 1rem;
    padding: 2rem 2rem;
}
span
{
    color: var(--Desaturatedblue);
}
h3
{
    color: white;
}
.face
{
    height:25%;
    width: 25%;
    border:2px white solid;
    border-radius: 100%;
}
.buttons
{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1.5rem;
}
.daily,.weekly,.monthly
{
    border: none;
    color: var(--Desaturatedblue);
    background-color: transparent;    
    font: 15px;
    font-size: larger;
}
.daily:hover,.weekly:hover,.monthly:hover
{
    color:white;
}

.card-container
{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.card-1
{
    background-color: var(--orange);
    border-radius: 1rem;
    background-image: url("images/icon-work.svg");
    background-position: 90% -20%;
    background-repeat: no-repeat;
}
.card-2
{
    background-color: var(--Soft_blue);
    border-radius: 1rem;
    background-image: url("images/icon-play.svg");
    background-position: 90% -20%;
    background-repeat: no-repeat;
}
.card-3
{
    background-color: var(--Light_red);
    border-radius: 1rem;
    background-image: url("images/icon-study.svg");
    background-position: 90% -20%;
    background-repeat: no-repeat;
}
.card-4
{
    background-color: var(--Lime_green);
    border-radius: 1rem;
    background-image: url("images/icon-exercise.svg");
    background-position: 90% -20%;
    background-repeat: no-repeat;
}
.card-5
{
    background-color: var(--Violet);
    border-radius: 1rem;
    background-image: url("images/icon-social.svg");
    background-position: 90% -20%;
    background-repeat: no-repeat;
}
.card-6
{
    background-color: var(--Soft_orange);
    border-radius: 1rem;
    background-image: url("images/icon-self-care.svg");
    background-position: 90% -20%;
    background-repeat: no-repeat;
}
.card-text
{

    background-color: var(--Darkblue);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 20px;
    position: relative;
    top:2rem;
}
.dot
{
    height: 100%;
    width: auto;
}
.card-title
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.card-time
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.time
{
    font-size: 30px;
    color: white;
}

@media (width>480px) {
    
    .card-container
    {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 2;
       grid-template-areas:
        "work play study"
        "exercise social selfcare";
        grid-area: card;
        row-gap: 20px;
        column-gap: 30px;
    }
    main
    { 
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        grid-template-rows: auto;
       grid-template-areas:
        "profile card card card"
        "profile card card card";
        
    }
    .profile
    {
        grid-area: profile;
        
    }
    .blue
    {
        flex-direction: column;
        gap: 50px;
    }
    .face
    {
        width: 50%;
        height: auto;
        position: relative;
        left: -30px;
    }
    .blue h3
    {
        font-weight: lighter;
        font-size: 2rem;
    }
    .card-1
    {   
        grid-area: work;
        background-position: 90% -10%;
    }
    .card-2
    {
        grid-area: play;
        background-position: 90% -10%;

    }
    .card-3
    {
        grid-area: study;
        background-position: 90% -10%;

    }
    .card-4
    {
        grid-area: exercise;
        background-position: 90% -10%;
    }
    .card-5
    {
        grid-area: social;
        background-position: 90% -10%;
    }
    .card-6
    {
        grid-area:selfcare;        background-position: 90% -10%;
    }
    .buttons
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .card-time
    {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .time
    {
        font-size: 3.5rem;
    }
    .card-text
    {
        gap: 20px;
    }
}
